.about-question {
    font-family: 'Nunito', sans-serif;
    margin: 20px 10px 20px 10px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 0px 5px 0px;
}

.main-centre {
    text-align: center;
}

.about-main {
    display: inline-block;
}

p {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.illustration-credit {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 8px;
    padding: 30px 0px 0px 0px;
}

/* CSS for illustrations */

img {
    display: inline-block;
    height: 80px;
    width: 80px;
    filter: invert(70%) sepia(89%) saturate(359%) hue-rotate(357deg) brightness(106%) contrast(90%);
}

.illo-row {
    margin: 5px 0px 0px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.illo-text {
    padding: 10px 10px 10px 10px;
}

.about-illo {
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
}

.listen-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.quake-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.safe-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.not-safe-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.search-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.success-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.signup-png{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

/* size changes for viewing on widescreen */
@media (min-width: 768px) {
    .about-illo {
        padding: 0px 0px 0px 0px;
        margin: 0px 150px 0px 150px;
    }

    .illo-text {
        padding: 20px 20px 0px 20px;
    }

    .about-question {
        margin: 20px 200px 20px 200px; 
    }
}

