.about-question {
    font-family: 'Nunito', sans-serif;
    margin: 20px 10px 20px 10px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
    margin: 10px 0px 0px 0px;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.illustration-credit {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 8px;
    padding: 30px 0px 0px 0px;
}

/* CSS for illustrations */

img {
    height: 80px;
    width: 80px;
    opacity: 0.7;
}

.about-main {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.about-illo {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.safe-text {
    margin: 0px 0px 0px 0px;
}

.signup-text {
    padding: 10px 15px 0px 15px;
}

.listen-png{
    padding: 10px 0px 15px 20px;
}

.quake-png{
    padding: 20px 0px 20px 35px;
}

.safe-png{
    padding: 10px 0px 10px 35px;
}

.not-safe-png{
    padding: 15px 0px 10px 20px;
}

.search-png{
    padding: 15px 0px 10px 30px;
}

.success-png{
    padding: 15px 20px 15px 20px;
}

.signup-png{
    padding: 0px 0px 0px 35px;
}


