.callCentreScreen-background {
    font-family: 'Nunito', sans-serif;
    margin: 20px 10px 20px 10px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
}

    .earthquake_button {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 20px 10px 20px 10px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.callCenterList {
    margin-top: 10px;
}

.callCentreScreen-deets {
    text-align: left;
    font-weight: bold;
}

.callCentreScreen-phone {
    text-align: left;
    font-size: smaller;
}

p {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

