.full-login {
    margin-top: 50px;
}

.login_btn {
    background-color: cornflowerblue;
    margin-top: 20px;
}

.Login-footer {
    text-align: center;
}

.form-check {
    text-align: center;
    margin-top: 10px;
}
