.login-text {
    font-family: 'Nunito', sans-serif;
    margin: 80px 80px 15px 80px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 0px 5px 0px;
}

.email-form {
    margin: 5px 10px 5px 10px;
}

.password-form {
    margin: 5px 10px 5px 10px;
}

.form-check-label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
}

.login-form-back {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 800 !important;
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    border: 0px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.form-check {
    margin-top: 20px;
}

.login-footer {
    margin: 70px 0px 0px 0px;
    text-align: center;
}

.form-check {
    text-align: center;
}

h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
