.register-text {
    font-family: 'Nunito', sans-serif;
    margin: 20px 45px 20px 45px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 0px 5px 0px;
}

.UserRegh1 {
    text-align: center;
    margin-bottom: 20px;
}

.UserRegh4 {
    text-align: center;
    margin-bottom: 30px;
}

.Utext-center {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.row {
    margin: 0px 25px ;
}

.register-footer {
    margin: 30px 0px 0px 0px;
    text-align: center;
}