
.alert-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 70px 50px 20px 50px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: red;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.user_safe-para {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin: 20px 10px 20px 10px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    color: darkslategray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.safe-question-text {
    font-family: 'Nunito', sans-serif;
    margin: 20px 10px 20px 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.logout-footer {
    margin: 50px 0px 0px 0px;
    text-align: center;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}