.UserRegh1 {
    text-align: center;
    margin-bottom: 20px;
}

.UserRegh4 {
    text-align: center;
    margin-bottom: 30px;
}

.Utext-center {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.row {
    margin: 0px 25px ;
}